{% extends 'base.html' %}
{% from 'appointment/common.html' import edit_field %}
{% if request.endpoint.endswith('edit') %}
    {% set title = 'Edit Appointment' %}
{% else %}
    {% set title = 'Add Appointment' %}
{% endif %}

{% block main %}
<div>
    <form method="post">
        <legend>{{ title }}</legend>
        {{ edit_field(form.title, maxlength=255, placeholder="Important Meeting") }}
        {{ edit_field(form.start, class="span3", type="datetime", placeholder="yyyy-mm-dd hh:mm:ss") }}
        {{ edit_field(form.end, type="datetime", placeholder="yyyy-mm-dd hh:mm:ss") }}
        {{ edit_field(form.allday) }}
        {{ edit_field(form.location, maxlength=255, placeholder="The Office") }}
        {{ edit_field(form.description, rows="5", placeholder="Bring a sharpened #2 pencil.") }}
        <div>
            <button type="submit">Save</button>
            or <a href="{{ url_for('appointment_list') }}">Cancel</a>
        </div>
    </form>
</div>

{% endblock main %}
